* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
}

// ROOT & MIXIN
$firstColor : azure;
$secondColor : black;
$thirdColor : darkred;


@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

// NAV
.presentSite {
    .navbar {
        margin-top: -20px;
        align-items: center;
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 150px;
                max-width: 250px;
                margin-left: -30px;
                transition: all 0.25ms ease;
                &:hover {
                    transform: scale(0.8);
                }
            }
        }
        #btnBars {
            font-size: 1.8em;
            margin-right: 10px;
            color: $firstColor;
            border: transparent;
            background: transparent;
            transition: all 0.25ms ease;
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
}

// SHOW 
.firstShow {
  .listFree {
    .row {
        .col-lg-6 {
            #firstOne {
                height: 580px;
                max-width: 1050px;
                margin-left: 85px;
            }
            #firstTwo {
                margin-top: -160px;
                margin-left: 100px;
                height: 730px;
            }
        }
    }
    #btnBuyCard {
        display: block;
        margin: 100px auto;
        padding: 5px;
        width: 130px;
        cursor: pointer;
        color: $firstColor;
        font-family: nulshock;
        border-radius: 40px;
        background: transparent;
        border: 1px solid $firstColor;
        &:hover {
            color: rgb(20, 187, 20);
            background-color: rgb(54, 54, 54);
        }
    }
  }  
}

.secondShow {
    .team {
        margin-top: -50px;
        font-size: 4.8em;
        text-align: center;
        color: $firstColor;
        font-family: TronBoldInline;
    }
    .overUnder {
        .img-fluid {
            height: 540px;
            margin-bottom: -350px;
        }
    }
    p {
        text-align: center;
        margin-top: 350px;
        font-size: 1.6em;
        font-family: nulshock;
        color: $firstColor;
    }
    #btnAstuces {
        display: block;
        margin: auto;
        border-radius: 40px;
        font-family: nulshock;
        background: rgb(8, 146, 180);
        border: 1px solid $firstColor;
        a {
            font-size: 1.4em;
            color: $firstColor;
            text-decoration: none;
        }
        &:hover {
            background-color: rgb(221, 152, 4);
        }
    }
}

.thirdShow {
    .sentenceSoftwares {
        margin: 30px auto;
    }
    .downloadSoftwareOne {
        font-size: 2.6em;
        text-align: center;
        color: $firstColor;
        font-family: nulshock;
    }
    .listSoftware {
        margin: 80px auto;
        .row {
            column-gap: 200px;
            text-align: center;
            justify-content: center;
            .col-lg-3 {
                width: 220px;
                height: 250px;
                cursor: pointer;
                .img-fluid {
                    height: 200px;
                    transition: all 0.25ms ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .showSoftware {
        .otherSoftware {
            font-size: 1.8em;
            text-align: center;
            color: $firstColor;
            font-family: nulshock;
        }
        #btnOtherSoftware {
            padding: 2px;
            width: 240px;
            display: block;
            margin: auto;
            border-radius: 40px;
            color: $firstColor;
            font-family: nulshock;
            background: transparent;
            
        }
    }
}

// OFFERS
.Offers {
    height: 400px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./data/offersBackground.png');
    #btnOffers {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px 30px;
        background-color: #050801;
        color: #03e9f4;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        letter-spacing: 4px;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            background: #03e9f4;
            color: #050801;
            box-shadow: 0 0 5px #03e9f4,
                        0 0 0px #03e9f4,
                        0 0 0px #03e9f4,
                        0 0 0px #03e9f4;
                        -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
        }
    }
    .listOffers {
        display: none;
        justify-content: center;
        .row {
            text-align: center;
            .col-lg-4 {
                .card {
                    text-align: center;
                    height: 250px;
                    width: 100%;
                    max-width: 260px;
                    background-color: #050801;
                    color: #03e9f4;
                    font-weight: bold;
                    border: none;
                    border-radius: 5px;
                    letter-spacing: 4px;
                    overflow: hidden;
                    transition: all 0.45ms ease;
                    cursor: pointer;
                    font-family: KGBlankSpaceSolid;
                    .card-body {
                        .price {
                            margin: 35px auto;
                        }
                    }
                    &:hover {
                        background: #03e9f4;
                        color: #050801;
                        box-shadow: 0 0 0px #03e9f4,
                                    0 0 0px #03e9f4,
                                    0 0 0px #03e9f4,
                                    0 0 0px #03e9f4;
                    }
                    &:active {
                        transform: translateY(20px);
                    }
                }
            }
        }
         &.show {
        display: flex;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    }
}

// CARDS
.cardBackground {
    padding: 10px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./data/geforceBackground.jpg');
    .typesCards {
        padding-top: 12px;
        .row {
            column-gap: 60px;
            justify-content: center;
            #btnCards {
                width: 120px;
                font-size: 2.0em;
                font-weight: bold;
                font-family: abnes;
                color: $firstColor;
                border: transparent;
                background: transparent;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .listCard {
    justify-content: center;
    .row {
        text-align: center;
        .cpu {
            .card {
                height: 350px;
                cursor: pointer;
                border: transparent;
                background: transparent;
                .card-body {
                    .img-fluid {
                        height: 300px;
                        max-width: 400px;
                    }
                    .titleCard {
                        font-size: 1.3em;
                        color: $firstColor;
                        font-family: KGBlankSpaceSolid;
                    }
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
        .gpu {
            .card {
                height: 350px;
                cursor: pointer;
                border: transparent;
                background: transparent;
                .card-body {
                    .img-fluid {
                        height: 300px;
                        max-width: 400px;
                    }
                    .titleCard {
                        font-size: 1.3em;
                        color: $firstColor;
                        font-family: KGBlankSpaceSolid;
                    }
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    }
    .footer {
        width: 100%;
        padding-top: 40px;
        @include flex (row);
        align-items: center;
        justify-content: space-between;
        #btnContact {
            padding: 3px;
            font-size: 1.4em;
            color: $firstColor;
            font-family: nulshock;
            background: transparent;
            border: 1px solid $firstColor;
            &:hover {
                color: $secondColor;
                background-color: $firstColor;
            }
        }
        .copyright {
            color: $firstColor;
            font-size: 1.6em;
            font-weight: bold;
            font-family: nulshock;
        }
        .listSocial {
            column-gap: 60px;
            @include flex (row);
            list-style-type: none;
            .socialItem {
                .socialLink {
                    font-size: 1.4em;
                    color: $firstColor;
                    text-decoration: none;
                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }
    }
}

// GPU/CPU
#nvidia2080Super, #radeon6700XT, #nvidia3070Eagle, #radeon6900XT, #intelI512400F, #amdRyzen5600X, #intelI513600K, #amdRyzen7700{
    .modal-dialog {
        height: 600px;
        max-width: 1400px;
        .modal-content {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('./data/gpuBackground.png');
            .modal-body {
                #btnCloseCards {
                    position: relative;
                    top: 2%;
                    left: 98%;
                    font-size: 1.6em;
                    color: $firstColor;
                    border: transparent;
                    background: transparent;
                    &:hover {
                        color: $thirdColor;
                    }
                }
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            height: 500px;
                            max-width: 750px;
                            margin-bottom: 10px;
                        }
                        .nameCards {
                            font-size: 1.4em;
                            text-align: center;
                            color: $firstColor;
                            font-family: KGBlankSpaceSolid;
                        }
                    }
                    .col-lg-8 {
                        .listHD {
                            margin-bottom: 10px;
                            text-align: center;
                            justify-content: center;
                            .row {
                                text-align: center;
                                justify-content: center;
                                .col-lg-4 {
                                    #btnResolution {
                                        font-size: 1.2em;
                                        
                                        color: $firstColor;
                                        
                                        border: transparent;
                                        background: transparent;
                                        font-family: KGBlankSpaceSolid;
                                        &:hover {
                                            color: $thirdColor;
                                        }
                                    }
                                }
                            }
                        }
                        .table-responsive {
                            table {
                                height: 420px;
                                thead {
                                    .img-fluid {
                                        height: 120px;
                                        max-width: 250px;
                                    }
                                }
                                tbody {
                                    margin-left: -30px;
                                    tr {
                                        line-height: 85px;
                                        background-color: transparent;
                                        th {
                                            font-size: 1.2em;
                                            text-align: center;
                                            letter-spacing: 2px;
                                            font-family: KGBlankSpaceSolid;
                                        }
                                        td {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .cardBuy {
                            margin: 20px auto;
                            text-align: center;
                            #btnBuy {
                                padding: 5px;
                                font-size: 1.1em;
                                color: $firstColor;
                                margin-right: 20px;
                                border-radius: 40px;
                                background: transparent;
                                border: 1px solid $firstColor;
                                font-family: KGBlankSpaceSolid;
                                &:hover {
                                    background-color: $secondColor;
                                }
                            }
                            #btnBenchmark {
                                padding: 5px;
                                margin-left: 20px;
                                font-size: 1.1em;
                                border-radius: 40px;
                                background: transparent;
                                border: 1px solid $firstColor;
                                font-family: KGBlankSpaceSolid;
                                a {
                                    color: $firstColor;
                                    text-decoration: none;
                                }
                                &:hover {
                                    background-color: $secondColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// CONTACT
#youContactMe {
    .modal-dialog {
        height: 600px;
        max-width: 1050px;
        .modal-content {
            padding: 10px;
            color: $firstColor;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('./data/contactBackground.jpeg');
            #btnCloseContact {
                position: absolute;
                top: 0%;
                left: 97%;
                font-size: 1.4em;
                color: $firstColor;
                margin-bottom: -30px;
                border: transparent;
                background: transparent;
                &:hover {
                    color: $secondColor;
                }
            }
            .contact {
                margin-top: 10px;
                font-size: 1.1em;
                text-align: center;
                font-family: nulshock;
            }
            .row {
                .col-lg-8 {
                    form {
                        .row {
                            text-align: center;
                            display: flex;
                            flex-direction: row;
                            input {
                                width: 100%;
                            }
                            select {
                                width: 100%;
                                cursor: pointer;
                            }
                            .message {
                                border-radius: 40px;
                                margin: 10px auto;
                                text-align: center;
                            }
                        }
                    }
                    #btnSend {
                        padding: 6px;
                        height: 40px;
                        width: 90px;
                        display: block;
                        margin: auto;
                        border-radius: 40px;
                        background: transparent;
                    }
                }
                .info {
                    .contactInfo {
                        line-height: 40px;
                        list-style-type: none;
                       .meInfo {
                        font-size: 1.1em;
                        font-family: nulshock;
                       }
                        .warning {
                            font-size: 0.7em;
                        }
                    }
                }
                #btnSendContact {
                    display: block;
                    margin: auto;
                    padding: 5px;
                    color: $firstColor;
                    font-family: nulshock;
                    border-radius: 40px;
                    background: transparent;
                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }
    }
}

// OFFCANVAS 
#showCanvas {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    max-width: 350px;
    height: 250px;
    @include flex (column);
    align-items: center;
    border: 1px solid $firstColor;
    border-radius: 0px 0px 0px 40px;
    justify-content: space-between;
    background-color: $secondColor;
    .offcanvas-body {
        .listCanvas {
            line-height: 45px;
            text-align: center;
            list-style-type: none;
            li {
                a {
                    letter-spacing: 3px;
                    font-size: 1.6em;
                    color: $firstColor;
                    font-family: nulshock;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .offcanvas-footer {
        @include flex (row);
        column-gap: 10px;
        #btnLogIn {
            letter-spacing: 3px;
            font-size: 1.5em;
            color: $firstColor;
            margin-bottom: 30px;
            font-family: nulshock;
            background-color: transparent;
            border: 1px solid $firstColor;
            &:hover {
                color: $secondColor;
                background-color: $firstColor;
            }
        }
        .and {
            font-size: 1.4em;
            color: $firstColor;
            font-family: nulshock;
        }
        #btnSignUp {
            letter-spacing: 3px;
            font-size: 1.5em;
            color: $firstColor;
            margin-bottom: 30px;
            font-family: nulshock;
            background-color: transparent;
            border: 1px solid $firstColor;
            &:hover {
                color: $secondColor;
                background-color: $firstColor;
            }
        }
    }
    #btnCloseCanvas {
        position: absolute;
        top: 2%;
        right: 1%;
        color: $thirdColor;
        font-size: 1.8em;
        border: transparent;
        background: transparent;
        &:hover {
            color: $firstColor;
        }
    }
}

#logIn {
    .modal-dialog {
        .modal-content {
            color: $firstColor;
            background-position: center;
            background-image: url('./data/msiBackground.jpeg');
            .modal-body {
                #btnCloseLogIn {
                    position: absolute;
                    top: 4%;
                    left: 97%;
                    transform: translate(-50%, -50%);
                    margin-bottom: -20px;
                    font-size: 1.6em;
                    color: $thirdColor;
                    border: transparent;
                    background: transparent;
                    &:hover {
                        color: $firstColor;
                    }
                }
                .connect {
                    text-align: center;
                    font-size: 1.4em;
                    font-family: nulshock;
                }
                form {
                    justify-content: center;
                    @include flex (column);
                    input {
                        font-size: 1.4em;
                        width: 100%;
                        margin: 15px auto;
                        max-width: 40%;
                        display: block;
                    }
                    #logInConnect {
                        font-size: 0.8em;
                        width: 30%;
                        padding: 5px;
                        margin: 5px auto;
                        color: $firstColor;
                        border-radius: 40px;
                        font-family: nulshock;
                        background: transparent;
                        transition: all 0.25ms ease;
                        border: 1px solid $firstColor;
                        &:hover {
                            color: $secondColor;
                            background-color: $firstColor;
                        }
                        &:active {
                            transform: translateY(5px);
                        }
                    }
                }
                .noCompte {
                    margin: 10px auto;
                    font-size: 1.0em;
                    text-align: center;
                    font-family: nulshock;
                    .inscrire {
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }          
        }
    }
}

#signUp {
    .modal-dialog {
        .modal-content {
            width: 100%;
            max-width: 750px;
            height: auto;
            color: $firstColor;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('./data/tronBackground2.jpg');
            #btnCloseSignUp {
                position: relative;
                top: 2%;
                left: 100%;
                transform: translate(-50%, -50%);
                font-size: 1.6em;
                color: $firstColor;
                text-shadow: #963535 0px 0px 5px, #FF2D95 0px 0px 30px, 2px 0px 0px rgba(206,89,55,0);
                border: transparent;
                background: transparent;
                &:hover {
                    color: $thirdColor;
                    
                }
            }
            .inscribe {
                text-align: center;
                font-size: 1.6em;
                font-family: nulshock;
                margin-bottom: -1px;
                text-shadow: #963535 0px 0px 5px, #FF2D95 0px 0px 30px, 2px 0px 0px rgba(206,89,55,0);
            }
            form {
                text-align: center;
                .col-lg-6 {
                    input {
                        width: 80%;
                        margin: 10px;
                    }
                }
                #logInConnect {
                    color: #03e9f4;
                    margin-top: 10px;
                    font-size: 1.0em;
                    border-radius: 40px;
                    font-family: nulshock;
                    margin-bottom: 10px;
                    border: 1px solid $firstColor;
                    background-color: $secondColor;
                    text-shadow: #963535 0px 0px 5px, #FF2D95 0px 0px 30px, 2px 0px 0px rgba(206,89,55,0);
                    &:hover {
                        color: $firstColor;
                        background: transparent;
                    }
                }
                .col-lg-12 {
                    column-gap: 30px;
                    @include flex (row);
                    justify-content: center;
                    .check {
                        input {
                            cursor: pointer;
                        }
                        label {
                            font-size: 1.1em;
                            font-family: nulshock;
                            text-shadow: #963535 0px 0px 5px, #FF2D95 0px 0px 30px, 2px 0px 0px rgba(206,89,55,0);
                        }
                    }
                }
            }
            .haveCompte {
                    margin: 10px auto;
                    font-size: 1.0em;
                    text-align: center;
                    font-family: nulshock;
                    text-shadow: #963535 0px 0px 5px, #FF2D95 0px 0px 30px, 2px 0px 0px rgba(206,89,55,0);
                    .connectYou {
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
        }
    }
}

// MEDIA QUERRY
@media screen and (max-width: 1588px) {
    .firstShow {
        .listFree {
            .row {
                .col-lg-6 {
                    #firstOne {
                        height: 400px;
                    }
                    #firstTwo {
                        margin-top: -140px;
                        margin-left: 10px;
                        height: 750px;
                    }
                }
            }
            #btnBuyCard {
                margin: 10px auto;
            }
        }
    }
    .thirdShow {
        .downloadSoftwareOne {
            font-size: 2.0em;
        }
        .listSoftware {
            .row {
                .col-lg-3 {
                    width: 150px;
                    .img-fluid {
                        width: 100px;
                        height: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1175px) {
    .thirdShow {
       .downloadSoftwareOne {
            font-size: 2.0em;
        }
        .listSoftware {
            .row {
                column-gap: 120px;
                .col-lg-3 {
                    width: 100px;
                    height: 160px;
                    .img-fluid {
                        width: 170px;
                        height: 100px;
                    }
                }
            }
        } 
        .showSoftware {
            margin-top: -10px;
        }
    }
}

@media screen and (max-width: 1121px) {
    .firstShow {
        .listFree {
            .row {
                .col-lg-6 {
                    #firstOne {
                        height: 400px;
                    }
                    #firstTwo {
                        margin-top: -140px;
                        margin-left: -60px;
                        height: 750px;
                    }
                }
            }
            #btnBuyCard {
                margin: 10px auto;
            }
        }
    }
    .secondShow {
        .overUnder {
            .img-fluid {
                height: 450px;
            }
        }
        #btnAstuces {
            margin-top: -10px;
        }
    }
}

@media screen and (max-width: 991px) {
    .Offers {
        height: 1000px;
        .listOffers {
            .row {
                display: block;
                margin: auto;
                .col-lg-4 {
                    .card {
                        margin: 40px;
                    }
                }
            }
        }
    }

    #youContactMe {
        .modal-dialog {
            max-width: 400px;
            .modal-content {
                #btnCloseContact {
                    position: absolute;
                    top: 0%;
                    left: 92%;
                    
                }
                .row {
                    .col-lg-8 {
                        form {
                            .row {
                                input {
                                    margin: 10px;
                                    width: 70%;
                                }
                                select {
                                    margin: 10px;
                                    width: 70%;
                                }
                                textarea {
                                    width: 70%;
                                }
                            }
                        }
                    }
                    .col-lg-4 {
                        text-align: center;
                        .contactInfo {
                            margin-top: 10px;
                            margin-right: 25px;
                        }
                    }
                }
            }
        }
    }

    #nvidia2080Super, #radeon6700XT, #nvidia3070Eagle, #radeon6900XT, #intelI512400F, #amdRyzen5600X, #intelI513600K, #amdRyzen7700 {
        .modal-dialog {
            max-width: 450px;
            height: 240px;
            .modal-content {
                .modal-body {
                    #btnCloseCards {
                        position: relative;
                        top: 0%;
                        left: 96%;
                    }
                    .row {
                        .col-lg-4 {
                            .img-fluid {
                                height: 200px;
                            }
                        }
                        .col-lg-8 {
                            .listHD {
                                margin-bottom: 15px;
                                .row {
                                    text-align: center;
                                }
                                
                            }
                            .table-responsive {
                                table {
                                    padding: 15px auto;
                                    height: 250px;
                                    thead {
                                        th {
                                            .img-fluid {
                                                height: 100px;
                                                max-width: 120px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 825px) {
    .thirdShow {
       .downloadSoftwareOne {
            font-size: 2.0em;
        }
        .listSoftware {
            .row {
                column-gap: 220px;
                .col-lg-3 {
                    width: 150px;
                    height: 160px;
                    .img-fluid {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        } 
        .showSoftware {
            margin-top: -110px;
        }
    }
}

@media screen and (max-width: 767px) {
    .firstShow {
        .listFree {
            .row {
                .col-lg-6 {
                    #firstOne {
                        height: 250px;
                        margin-top: -20px;
                        margin-left: -30px;
                    }
                    #firstTwo {
                        margin-top: 10px;
                        margin-left: -10px;
                        height: 380px;
                    }
                }
            }
            #btnBuyCard {
                margin: -5px auto;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .cardBackground {
        .footer {
            .copyright {
                font-size: 1.1em;
                padding-top: 10px;
                margin-right: 80px;
            }
            .listSocial {
                column-gap: 30px;
            }
        }
    }
}

@media screen and (max-width: 612px) {
    .thirdShow {
       .downloadSoftwareOne {
            font-size: 2.0em;
        }
        .listSoftware {
            .row {
                column-gap: 220px;
                .col-lg-3 {
                    margin-top: -20px;
                    width: 150px;
                    height: 160px;
                    .img-fluid {
                        width: 100px;
                        height: 90px;
                    }
                }
            }
        } 
        .showSoftware {
            margin-top: -110px;
        }
    }
}

@media screen and (max-width: 576px) {
   #nvidia2080Super, #radeon6700XT, #nvidia3070Eagle, #radeon6900XT, #intelI512400F, #amdRyzen5600X, #intelI513600K, #amdRyzen7700{
    .modal-dialog {
        position: relative;
        top: 50%;
        left: 50%;
        height: 250px;
        transform: translate(-50%, -50%);
        .modal-content {
                .modal-body {
                    #btnCloseCards {
                        position: relative;
                        top: 0%;
                        left: 96%;
                    }
                    .row {
                        .col-lg-4 {
                            .img-fluid {
                                height: 200px;
                            }
                        }
                        .col-lg-8 {
                            .listHD {
                                justify-content: space-between;
                                .row {
                                    justify-content: space-between;
                                }
                            }
                            .table-responsive {
                                table {
                                    padding: 15px auto;
                                    height: 150px;
                                    thead {
                                        th {
                                            .img-fluid {
                                                height: 80px;
                                                max-width: 120px;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            th {
                                                font-size: 1.0em;
                                            }
                                        }
                                    }
                                }
                            }
                            .cardBuy {
                                margin-top: -8px;
                            }
                        }
                    }
                }
            }
    }
    }
}

@media screen and (max-width: 531px) {
    .cardBackground {
        .footer {
            justify-content: space-between;
            #btnContact {
                font-size: 1.1em;
                margin-left: 40px;
            }
            .copyright {
                display: none;
            }
            .listSocial {
                column-gap: 20%;
                margin-right: 50px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .Offers {
        .listOffers {
            .row {
                margin-right: 40px;
                .col-lg-4 {
                    .card {
                        max-width: 220px;
                    }
                }
            }
        }
    }

    .cardBackground {
        .typesCards {
            .row {
                #btnCards {
                    font-size: 1.5em;
                }
            }
        }
        .listCard {
            .row {
                .cpu, .gpu {
                    .card {
                        margin-left: -20px;
                        .card-body {
                            .img-fluid {
                                height: 270px;
                                max-width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FONTS
@font-face {
    font-family: TronBoldInline;
    src: url('./fonts/TronBoldInline.otf');
}

@font-face {
    font-family: nulshock;
    src: url('./fonts/nulshock\ bd.otf');
}

@font-face {
    font-family: abnes;
    src: url('./fonts/abnes.otf');
}

@font-face {
    font-family: KGBlankSpaceSolid;
    src: url('./fonts/KGBlankSpaceSolid.ttf');
}