.swiper {
  width: 100%;
  height: 100vh;
}

.firstShow {
    background-size: cover;
    background-position: center;
    background-image: url('../data/nvidiaBackground.jpeg');
}

.secondShow {
    background-size: cover;
    background-position: center;
    background-image: url('../data/tronBackground.jpeg');
}

.thirdShow {
  background-size: cover;
  background-position: center;
  background-image: url('../data/redPcGamer.jpeg');
}

@font-face {
  font-family: nulshock;
  src: url('../fonts/nulshock\ bd.otf');
}